In [1]:
%load_ext sql

In [2]:
%sql sqlite:///lab4.db3

'Connected: @lab4.db3'

Question 1

 {A} is a superkey for a relation T (A, B, C, D)

Deletes the Pokemon Table (for Debugging)

In [26]:
%%sql sqlite://
    
DROP TABLE Pokemon

Done.

[]

Creates a table that fulfills Question 1

In [27]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Pokemon
(
    unique_number INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    type1 TEXT,
    type2 TEXT
)

Done.

[]

Populates the Pokemon Table

In [28]:
%%sql sqlite://

INSERT INTO Pokemon VALUES (252, "Treecko", "Grass", NULL);
INSERT INTO Pokemon VALUES (255, "Torchic", "Fire", NULL);
INSERT INTO Pokemon VALUES (258, "Mudkip", "Water", NULL);
INSERT INTO Pokemon VALUES (306, "Aggron", "Steel", "Rock");
INSERT INTO Pokemon VALUES (373, "Salamence", "Dragon", "Flying");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show that Pokemon satisfies Question 1

In [29]:
%%sql sqlite://
    
SELECT 
    Name
FROM 
    Pokemon
GROUP BY
    Name
HAVING 
    COUNT(name) >= 2

Done.

[]

Deletes the Employees Table (for Debugging)

In [30]:
%%sql sqlite://

DROP TABLE Employees

Done.

[]

Creates a table that does not fulfill Question 1

In [31]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Employees
(
    FirstName TEXT,
    LastName TEXT,
    Salary DOUBLE,
    Address TEXT
)

Done.

[]

Populates the Employees table

In [32]:
%%sql sqlite://

INSERT INTO Employees VALUES ("Giovanni", "Luigi", 50000, "142 Blue Road");
INSERT INTO Employees VALUES ("Marco", "Luigi", 65000, "142 Blue Road");
INSERT INTO Employees VALUES ("Gina", "Barese", 55000, "111 Green Street");
INSERT INTO Employees VALUES ("Gina", "Cacio", 55000, "255 Red Avenue");
INSERT INTO Employees VALUES ("Febbraia", "Parcheggio", 56000, "66 Yellow Block");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show that Employees fails Question 1

In [33]:
%%sql sqlite://
    
SELECT 
    FirstName
FROM 
    Employees
GROUP BY
    FirstName
HAVING 
    COUNT(FirstName) >= 2

Done.

[('Gina',)]

Question 2

The combinations of two attributes in the relation T (A, B, C, D) are each keys.

Deletes the Q2Yes Table (for Debugging)

In [34]:
%%sql sqlite://

DROP TABLE Q2Yes

Done.

[]

Creates a table that fulfills Question 2

In [35]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q2Yes
(
    Category_A TEXT,
    Category_B TEXT,
    Category_C TEXT,
    Category_D TEXT
)

Done.

[]

Populates the Q2Yes table

In [36]:
%%sql sqlite://

INSERT INTO Q2Yes VALUES ("a1", "b1", "c1", "d1");
INSERT INTO Q2Yes VALUES ("a1", "b2", "c2", "d2");
INSERT INTO Q2Yes VALUES ("a3", "b2", "c3", "d3");
INSERT INTO Q2Yes VALUES ("a4", "b4", "c3", "d4");
INSERT INTO Q2Yes VALUES ("a5", "b5", "c5", "d4");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

____________________________________

SQL Queries to show that Q2Yes satisfies Quesion 2
_____________________________________

SQL Query to show that no single attribute is the key of Q2Yes

In [37]:
%%sql sqlite://
    
SELECT 
    Category_A
FROM 
    Q2Yes
GROUP BY
    Category_A
HAVING 
    COUNT(Category_A) >= 2 AND
    COUNT(Category_B) >= 2 AND
    COUNT(Category_C) >= 2 AND
    COUNT(Category_D) >= 2

Done.

[('a1',)]

SQL Query to show that any 2 attributes are a key of Q2Yes

I realize there is probably a way to condense this using aggregates but I'm not sure how

In [38]:
%%sql sqlite://

SELECT 
    *
FROM 
    Q2Yes, Q2Yes as Q2YesB
WHERE 
    ((Q2Yes.Category_A = Q2YesB.Category_A) AND
     (Q2Yes.Category_B = Q2YesB.Category_B) AND
     (Q2Yes.Category_C <> Q2YesB.Category_C)) OR
    ((Q2Yes.Category_A = Q2YesB.Category_A) AND
     (Q2Yes.Category_C = Q2YesB.Category_C) AND
     (Q2Yes.Category_D <> Q2YesB.Category_D)) OR
    ((Q2Yes.Category_A = Q2YesB.Category_A) AND
     (Q2Yes.Category_D = Q2YesB.Category_D) AND
     (Q2Yes.Category_B <> Q2YesB.Category_B)) OR
     ((Q2Yes.Category_B = Q2YesB.Category_B) AND
     (Q2Yes.Category_C = Q2YesB.Category_C) AND
     (Q2Yes.Category_A <> Q2YesB.Category_A)) OR
    ((Q2Yes.Category_B = Q2YesB.Category_B) AND
     (Q2Yes.Category_D = Q2YesB.Category_D) AND
     (Q2Yes.Category_A <> Q2YesB.Category_A)) OR
    ((Q2Yes.Category_C = Q2YesB.Category_C) AND
     (Q2Yes.Category_D = Q2YesB.Category_D) AND
     (Q2Yes.Category_A <> Q2YesB.Category_A))

Done.

[]

Deletes the Q2Fail Table (for Debugging)

In [39]:
%%sql sqlite://

DROP TABLE Q2Fail

Done.

[]

Creates a table that fails Question 2

In [40]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q2Fail
(
    Category_A TEXT,
    Category_B TEXT,
    Category_C TEXT,
    Category_D TEXT
)

Done.

[]

Populates the Q2Fail table

In [41]:
%%sql sqlite://

INSERT INTO Q2Fail VALUES ("a1", "b1", "c1", "d1");
INSERT INTO Q2Fail VALUES ("a2", "b2", "c2", "d2");
INSERT INTO Q2Fail VALUES ("a3", "b3", "c3", "d3");
INSERT INTO Q2Fail VALUES ("a4", "b4", "c4", "d4");
INSERT INTO Q2Fail VALUES ("a5", "b5", "c5", "d5");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show that Q2Fail's keys are not combinations of two elements (each individual attribute can be a key in this case)

In [64]:
%%sql sqlite://
    
SELECT 
    Category_A
FROM 
    Q2Fail
GROUP BY
    Category_A
HAVING 
    COUNT(Category_A) >= 2 AND
    COUNT(Category_B) >= 2 AND
    COUNT(Category_C) >= 2 AND
    COUNT(Category_D) >= 2

Done.

[]

Question 3

Create tables A and B with a tuple generating dependency between them

(Also check if a TGD exists between Sailors and Reserves)

Drops Sailors Table (for Debugging)

In [ ]:
%%sql sqlite://

DROP TABLE Sailors

Creates Sailors Table

In [65]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Sailors
(
    sID int,
    sName TEXT,
    Rating float,
    Age int
)

Done.

[]

Populates Sailors

In [66]:
%%sql sqlite://

INSERT INTO Sailors VALUES (1, "Dustin", 5.5, 30);
INSERT INTO Sailors VALUES (2, "Rusty", 5, 40);
INSERT INTO Sailors VALUES (3, "Lubber", 6.5, 43);
INSERT INTO Sailors VALUES (4, "Pearl", 7, 45);
INSERT INTO Sailors VALUES (5, "Darshee", 8, 50);
INSERT INTO Sailors VALUES (6, "Yargh", 8.5, 46);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Drops Reserves Table (for Debugging)

In [ ]:
%%sql sqlite://

DROP TABLE Reserves

Creates Reserves Table

In [68]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Reserves
(
    sID int,
    sName TEXT,
    bID int,
    bName TEXT,
    Date TEXT
)

Done.

[]

Populates Reserves

In [70]:
%%sql sqlite://

INSERT INTO Reserves VALUES (1, "Dustin", 1, "Jenny", "1/1/2011");
INSERT INTO Reserves VALUES (2, "Rusty", 2, "Suzie", "2/2/2022");
INSERT INTO Reserves VALUES (3, "Lubber", 3, "Leana", "3/3/2033");
INSERT INTO Reserves VALUES (4, "Pearl", 4, "Bridget", "4/4/2044");
INSERT INTO Reserves VALUES (5, "Darshee", 5, "Speedy", "5/5/2055");
INSERT INTO Reserves VALUES (6, "Yargh", 6, "Sallie", "6/6/2066");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Drops Boats Table (for Debugging)

In [ ]:
%%sql sqlite://

DROP TABLE Boats

Creates the Boats Table

In [67]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Boats
(
    bID int,
    bName TEXT,
    Color TEXT
)

Done.

[]

Populates Boats

In [69]:
%%sql sqlite://

INSERT INTO Boats VALUES (1, "Jenny", "Red");
INSERT INTO Boats VALUES (2, "Suzie", "Blue");
INSERT INTO Boats VALUES (3, "Leana", "Yellow");
INSERT INTO Boats VALUES (4, "Bridget", "Green");
INSERT INTO Boats VALUES (5, "Speedy", "Orange");
INSERT INTO Boats VALUES (6, "Sallie", "Purple");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show that a TGD exists between Sailors and Reserves

In [72]:
%%sql sqlite://
    
SELECT
    *
FROM
    Sailors, Reserves
WHERE
    Sailors.sID =  Reserves.sID AND
    Sailors.sName <> Reserves.sName

Done.

[]

Deletes the Table Q3FailA (for Debugging)

In [49]:
%%sql sqlite://

DROP TABLE Q3FailA

Done.

[]

Creates a table that does not satisfy Question 3

Q3FailA is the first table that does not fulfill the TGD

In [50]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q3FailA
(
    Category_E TEXT,
    Category_F TEXT,
    Category_G TEXT,
    Category_H TEXT
)

Done.

[]

Populates Q3FailA

In [51]:
%%sql sqlite://

INSERT INTO Q3FailA VALUES ("e1", "f1", "g1", "h1");
INSERT INTO Q3FailA VALUES ("e2", "f2", "g2", "h2");
INSERT INTO Q3FailA VALUES ("e3", "f3", "g3", "h3");
INSERT INTO Q3FailA VALUES ("e4", "f4", "g4", "h4");
INSERT INTO Q3FailA VALUES ("e5", "f5", "g5", "h5");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Deletes the Table Q3FailB (for Debugging)

In [52]:
%%sql sqlite://

DROP TABLE Q3FailB

Done.

[]

Creates a table that does not satisfy Question 3

Q3FailB is the second table that does not fulfill the TGD

In [53]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q3FailB
(
    Category_E TEXT,
    Category_F TEXT,
    Category_G TEXT,
    Category_H TEXT
)

Done.

[]

Populates Q3FailB

In [54]:
%%sql sqlite://

INSERT INTO Q3FailB VALUES ("e6", "f6", "g1", "h6");
INSERT INTO Q3FailB VALUES ("e7", "f7", "g2", "h7");
INSERT INTO Q3FailB VALUES ("e8", "f8", "g3", "h8");
INSERT INTO Q3FailB VALUES ("e9", "f9", "g4", "h9");
INSERT INTO Q3FailB VALUES ("e10", "f10", "g5", "h10");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show that there is not a TGD between Q3FailA and Q3FailB

In [73]:
%%sql sqlite://
    
SELECT
    *
FROM
    Q3FailA, Q3FailB
WHERE
    Q3FailA.Category_E <> Q3FailB.Category_E

Done.

[('e1', 'f1', 'g1', 'h1', 'e6', 'f6', 'g1', 'h6'),
 ('e1', 'f1', 'g1', 'h1', 'e7', 'f7', 'g2', 'h7'),
 ('e1', 'f1', 'g1', 'h1', 'e8', 'f8', 'g3', 'h8'),
 ('e1', 'f1', 'g1', 'h1', 'e9', 'f9', 'g4', 'h9'),
 ('e1', 'f1', 'g1', 'h1', 'e10', 'f10', 'g5', 'h10'),
 ('e2', 'f2', 'g2', 'h2', 'e6', 'f6', 'g1', 'h6'),
 ('e2', 'f2', 'g2', 'h2', 'e7', 'f7', 'g2', 'h7'),
 ('e2', 'f2', 'g2', 'h2', 'e8', 'f8', 'g3', 'h8'),
 ('e2', 'f2', 'g2', 'h2', 'e9', 'f9', 'g4', 'h9'),
 ('e2', 'f2', 'g2', 'h2', 'e10', 'f10', 'g5', 'h10'),
 ('e3', 'f3', 'g3', 'h3', 'e6', 'f6', 'g1', 'h6'),
 ('e3', 'f3', 'g3', 'h3', 'e7', 'f7', 'g2', 'h7'),
 ('e3', 'f3', 'g3', 'h3', 'e8', 'f8', 'g3', 'h8'),
 ('e3', 'f3', 'g3', 'h3', 'e9', 'f9', 'g4', 'h9'),
 ('e3', 'f3', 'g3', 'h3', 'e10', 'f10', 'g5', 'h10'),
 ('e4', 'f4', 'g4', 'h4', 'e6', 'f6', 'g1', 'h6'),
 ('e4', 'f4', 'g4', 'h4', 'e7', 'f7', 'g2', 'h7'),
 ('e4', 'f4', 'g4', 'h4', 'e8', 'f8', 'g3', 'h8'),
 ('e4', 'f4', 'g4', 'h4', 'e9', 'f9', 'g4', 'h9'),
 ('e4', 'f4', 'g4', 'h4', 'e10', 'f10', 'g5', 'h10'),
 ('e5', 'f5', 'g5', 'h5', 'e6', 'f6', 'g1', 'h6'),
 ('e5', 'f5', 'g5', 'h5', 'e7', 'f7', 'g2', 'h7'),
 ('e5', 'f5', 'g5', 'h5', 'e8', 'f8', 'g3', 'h8'),
 ('e5', 'f5', 'g5', 'h5', 'e9', 'f9', 'g4', 'h9'),
 ('e5', 'f5', 'g5', 'h5', 'e10', 'f10', 'g5', 'h10')]

Question 4

Create a multivalued dependency within the table

Deletes the Q4YesR Table (for Debugging)

In [8]:
%%sql sqlite://

DROP TABLE Q4YesR

(sqlite3.OperationalError) no such table: Q4YesR
[SQL: DROP TABLE Q4YesR]
(Background on this error at: http://sqlalche.me/e/e3q8)

Creates a table that satisfies Question 4

In [10]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q4YesR
(
    Category_A TEXT,
    Category_B TEXT,
    Category_C TEXT,
    Category_D TEXT,
    Category_E TEXT
)

Done.

[]

Populates Q4Yes

In [11]:
%%sql sqlite://

INSERT INTO Q4YesR VALUES ("a1", "b1", "c1", "d1", "e1");
INSERT INTO Q4YesR VALUES ("a1", "b1", "c1", "d2", "e2");
INSERT INTO Q4YesR VALUES ("a1", "b1", "c1", "d1", "e3");
INSERT INTO Q4YesR VALUES ("a4", "b4", "c4", "d4", "e4");
INSERT INTO Q4YesR VALUES ("a4", "b4", "c4", "d5", "e5");
INSERT INTO Q4YesR VALUES ("a4", "b4", "c4", "d4", "e6");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Drops the Q4YesX Table (for Debugging)

In [ ]:
%%sql sqlite://

DROP TABLE Q4YesX

Creates a domain table that satisfies Question 4

In [13]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q4YesX
(
    Category_A TEXT,
    Category_B TEXT,
    Category_C TEXT
)

Done.

[]

Populates the Q4YesX Table

In [16]:
%%sql sqlite://

INSERT INTO Q4YesX VALUES ("a1", "b1", "c1");
INSERT INTO Q4YesX VALUES ("a1", "b1", "c1");
INSERT INTO Q4YesX VALUES ("a1", "b1", "c1");

1 rows affected.
1 rows affected.
1 rows affected.

[]

Drops the Q4YesY Table (for Debugging)

In [21]:
%%sql sqlite://

DROP TABLE Q4YesY

Done.

[]

Creates a codomain table that satisfies Question 4

In [22]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q4YesY
(
    Category_C TEXT,
    Category_D TEXT,
    Category_E TEXT
)

Done.

[]

Populates the Q4YesX Table

In [23]:
%%sql sqlite://

INSERT INTO Q4YesY VALUES ("c1", "d1", "e1");
INSERT INTO Q4YesY VALUES ("c1", "d2", "e2");
INSERT INTO Q4YesY VALUES ("c1", "d1", "e3");

1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show an MVD holds from Q3YesX to Q3YesY

(I can't get this to work sadly)

In [30]:
%%sql sqlite://
    
SELECT
    *
FROM
    Q4YesR, Q4YesR as Q4YesRB
WHERE
    (Q4YesR.Category_B = Q4YesRB.Category_B) AND
    Q4YesR.Category_B NOT IN
    (
    SELECT
        Q4YesX.Category_B
    FROM
        Q4YesX, Q4YesX as Q4YesXB
    WHERE
        Q4YesX.Category_B = Q4YesXB.Category_B
    )

Done.

[('a4', 'b4', 'c4', 'd4', 'e4', 'a4', 'b4', 'c4', 'd4', 'e4'),
 ('a4', 'b4', 'c4', 'd4', 'e4', 'a4', 'b4', 'c4', 'd4', 'e6'),
 ('a4', 'b4', 'c4', 'd4', 'e4', 'a4', 'b4', 'c4', 'd5', 'e5'),
 ('a4', 'b4', 'c4', 'd5', 'e5', 'a4', 'b4', 'c4', 'd4', 'e4'),
 ('a4', 'b4', 'c4', 'd5', 'e5', 'a4', 'b4', 'c4', 'd4', 'e6'),
 ('a4', 'b4', 'c4', 'd5', 'e5', 'a4', 'b4', 'c4', 'd5', 'e5'),
 ('a4', 'b4', 'c4', 'd4', 'e6', 'a4', 'b4', 'c4', 'd4', 'e4'),
 ('a4', 'b4', 'c4', 'd4', 'e6', 'a4', 'b4', 'c4', 'd4', 'e6'),
 ('a4', 'b4', 'c4', 'd4', 'e6', 'a4', 'b4', 'c4', 'd5', 'e5')]

Deletes Table Q4Fail (for Debugging)

In [31]:
%%sql sqlite://

DROP TABLE Q4FailR

(sqlite3.OperationalError) no such table: Q4FailR
[SQL: DROP TABLE Q4FailR]
(Background on this error at: http://sqlalche.me/e/e3q8)

Creates a table that does not satisfy Question 4

In [32]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q4FailR
(
    Category_A TEXT,
    Category_B TEXT,
    Category_C TEXT,
    Category_D TEXT,
    Category_E TEXT
)

Done.

[]

Populates Q4Fail

In [33]:
%%sql sqlite://

INSERT INTO Q4FailR VALUES ("a1", "b1", "c1", "d1", "e1");
INSERT INTO Q4FailR VALUES ("a1", "b1", "c1", "d2", "e2");
INSERT INTO Q4FailR VALUES ("a3", "b3", "c3", "d3", "e3");
INSERT INTO Q4FailR VALUES ("a4", "b4", "c4", "d4", "e4");
INSERT INTO Q4FailR VALUES ("a4", "b4", "c5", "d5", "e5");
INSERT INTO Q4FailR VALUES ("a6", "b6", "c6", "d6", "e6");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Drops Q4FailX (for Debugging)

In [ ]:
%%sql sqlite://

DROP TABLE Q4YesX

Creates domain for a failed MVD

In [36]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q4FailX
(
    Category_A TEXT,
    Category_B TEXT,
    Category_C TEXT
)

Done.

[]

Populates Q4FailX

In [38]:
%%sql sqlite://

INSERT INTO Q4FailX VALUES ("a1", "b1", "c1");
INSERT INTO Q4FailX VALUES ("a1", "b1", "c1");
INSERT INTO Q4FailX VALUES ("a3", "b3", "c3");
INSERT INTO Q4FailX VALUES ("a4", "b4", "c4");
INSERT INTO Q4FailX VALUES ("a4", "b4", "c5");
INSERT INTO Q4FailX VALUES ("a6", "b6", "c6");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Drops Q4FailY (for Debugging)

In [39]:
%%sql sqlite://

DROP TABLE Q4YesY

Done.

[]

Creates codomain for a failed MVD

In [40]:
%%sql sqlite://

CREATE TABLE IF NOT EXISTS Q4FailY
(
    Category_C TEXT,
    Category_D TEXT,
    Category_E TEXT
)

Done.

[]

Populates Q4FailY

In [41]:
%%sql sqlite://

INSERT INTO Q4FailY VALUES ("c1", "d1", "e1");
INSERT INTO Q4FailY VALUES ("c1", "d2", "e2");
INSERT INTO Q4FailY VALUES ("c3", "d3", "e3");
INSERT INTO Q4FailY VALUES ("c4", "d4", "e4");
INSERT INTO Q4FailY VALUES ("c5", "d5", "e5");
INSERT INTO Q4FailY VALUES ("c6", "d6", "e6");

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SQL Query to show an MVD holds from Q3YesX to Q3YesY

(I can't get this to work sadly)

In [42]:
%%sql sqlite://
    
SELECT
    *
FROM
    Q4YesR, Q4YesR as Q4YesRB
WHERE
    (Q4YesR.Category_B = Q4YesRB.Category_B) AND
    Q4YesR.Category_B NOT IN
    (
    SELECT
        Q4YesX.Category_B
    FROM
        Q4YesX, Q4YesX as Q4YesXB
    WHERE
        Q4YesX.Category_B = Q4YesXB.Category_B
    )

Done.

[('a4', 'b4', 'c4', 'd4', 'e4', 'a4', 'b4', 'c4', 'd4', 'e4'),
 ('a4', 'b4', 'c4', 'd4', 'e4', 'a4', 'b4', 'c4', 'd4', 'e6'),
 ('a4', 'b4', 'c4', 'd4', 'e4', 'a4', 'b4', 'c4', 'd5', 'e5'),
 ('a4', 'b4', 'c4', 'd5', 'e5', 'a4', 'b4', 'c4', 'd4', 'e4'),
 ('a4', 'b4', 'c4', 'd5', 'e5', 'a4', 'b4', 'c4', 'd4', 'e6'),
 ('a4', 'b4', 'c4', 'd5', 'e5', 'a4', 'b4', 'c4', 'd5', 'e5'),
 ('a4', 'b4', 'c4', 'd4', 'e6', 'a4', 'b4', 'c4', 'd4', 'e4'),
 ('a4', 'b4', 'c4', 'd4', 'e6', 'a4', 'b4', 'c4', 'd4', 'e6'),
 ('a4', 'b4', 'c4', 'd4', 'e6', 'a4', 'b4', 'c4', 'd5', 'e5')]