In [1]:
%load_ext sql

Connects to database file specified by :///filename.db3, as per Question 1

In [2]:
%sql sqlite:///lab2.db3

'Connected: @lab2.db3'

Removes the tables; added for easier debugging

In [3]:
%%sql sqlite://
    DROP TABLE sailors;
    DROP TABLE boats;
    DROP TABLE reserves;

Done.
Done.
Done.

[]

Creates the tables, as per Question 2

In [4]:
%%sql sqlite://
    CREATE TABLE IF NOT EXISTS sailors(
        sailor_id int UNIQUE,
        sailor_name VARCHAR (50),
        rating int,
        age DECIMAL(3, 1),
        PRIMARY KEY (sailor_id)
    );
    CREATE TABLE IF NOT EXISTS boats(
        boat_id int UNIQUE,
        boat_name VARCHAR (50),
        color VARCHAR (50),
        PRIMARY KEY (boat_id)
        
    );
    CREATE TABLE IF NOT EXISTS reserves(
        transaction_id VARCHAR(50) UNIQUE,
        sailor_id int,
        boat_id int,
        day VARCHAR(50),
        PRIMARY KEY (transaction_id)
    );

Done.
Done.
Done.

[]

Inserts records into the sailors table, as per Question 2

In [5]:
%%sql sqlite:///
    INSERT INTO sailors VALUES(22, "dustin", 7, 45.0);
    INSERT INTO sailors VALUES(31, "lubber", 8, 55.5);
    INSERT INTO sailors VALUES(58, "rusty", 10, 35.0);

1 rows affected.
1 rows affected.
1 rows affected.

[]

Inserts records into the boats table, as per Question 2

In [6]:
%%sql sqlite:///    
    INSERT INTO boats VALUES(101, "interlake", "red");
    INSERT INTO boats VALUES(103, "clipper", "green");

1 rows affected.
1 rows affected.

[]

Inserts records into the reserves table, as per Question 2

In [7]:
%%sql sqlite:///    
    INSERT INTO reserves VALUES(1, 22, 101, "10/10/96");
    INSERT INTO reserves VALUES(2, 58, 103, "11/12/96");

1 rows affected.
1 rows affected.

[]

Returns names of sailors who reserved boat #103, as per Question 3

In [8]:
%%sql sqlite:///
    SELECT sailor_name
    FROM sailors
    JOIN reserves
    ON sailors.sailor_id = reserves.sailor_id
    AND reserves.boat_id = 103;

Done.

[('rusty',)]

Returns names of sailors who reserved a red boat, as per Question 4

In [9]:
%%sql sqlite://
    SELECT sailor_name
        FROM sailors
        JOIN reserves
            ON sailors.sailor_id = reserves.sailor_id
        JOIN boats
            ON reserves.boat_id = boats.boat_id
            AND boats.color = "red";

Done.

[('dustin',)]

 Returns names of sailors who’ve reserved a red or a green boat, as per Question 5

In [10]:
%%sql sqlite://
    SELECT sailor_name
        FROM sailors
        JOIN reserves
            ON sailors.sailor_id = reserves.sailor_id
        JOIN boats
            ON reserves.boat_id = boats.boat_id
            AND (boats.color = "red" OR boats.color = "green");

Done.

[('dustin',), ('rusty',)]

 Returns names of sailors who’ve reserved a red and a green boat, as per Question 6

In [11]:
%%sql sqlite://
    SELECT sailor_name
        FROM sailors
        JOIN reserves
            ON sailors.sailor_id = reserves.sailor_id
        JOIN boats
            ON reserves.boat_id = boats.boat_id
            AND (boats.color = "red" AND boats.color = "green");

Done.

[]

 Returns names of sailors who’ve only reserved a red boat, as per Question 7. 
 NOT (NOT IN (attribute)) gives us only that attribute

In [13]:
%%sql sqlite://
    SELECT sailor_name
        FROM sailors
        JOIN reserves
            ON sailors.sailor_id = reserves.sailor_id
        JOIN boats
            ON reserves.boat_id = boats.boat_id
            AND NOT (boats.color NOT IN ("red"))

Done.

[('dustin',)]